<!DOCTYPE html>
<html>
<head>
<title>Vegetable prediction</title>
</head>
<body style="background-image: url(../static/pexels-niklas-jeromin-12766489.jpg); object-fit: cover; background-size: cover;">
<h1 style="text-align: center; font-size: 50px;color: white;">Animal Prediction</h1><br><br>
<div style="margin-left: 550px;">
<form action="/upload" method="post" enctype="multipart/form-data">
<label style="font-size: 30px;color: aliceblue;">Choose the image </label>
<input type="file" name="file"><br><br>
<input type="submit" value="Predict" style="width: 80px; border-radius: 7px;">
</form>
<h2 style="color: aliceblue;">{{data}}</h2>
</div>
</body>
</html>